[Desktop Entry]
Name=Kamsola
X-KDE-PluginInfo-Name=Kamsola
X-KDE-PluginInfo-Author=Kamsola
X-KDE-PluginInfo-License=CC0
Type=Service
ServiceTypes=Wallpaper/Images
